@import "tailwindcss";

/* src/index.css */

/* Global font styles */
body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(224, 224, 224); /* your dark theme base */
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
